ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #000000;
}
h1,  h4{
  font-family: 'Oswald', sans-serif;
}
img {
  margin: auto;
  max-width: 100%;
  
}
