ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}
li {
  display: inline;
  float: left;
}
a {
  display: block;
  padding: 8px;
  background-color: #000000;
  color: white;
}
img {
  margin: auto;
  max-width: 100%;
}
body {
  max-width: 800px;
  margin: auto;
}
h5{
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
p{
  font-family: 'Noto Serif', serif;
}
.intro {
  margin: auto;
  padding: 10px;
  text-align: center;
}
h1{
font-family: 'Oswald', sans-serif;
font-style: italic;
font-size: 70px;
}
h4 {
font-family: 'Oswald', sans-serif;
font-weight: bold;
}
